@keyframes mlg{
    from {background-position: 0px 0px;}
    to {background-position: 896px -896px;}
}

* {
    font-family: 'VT323', monospace;
}

body {
    background-image: url(/rainbow.png);
    /*background-size: 100vb;*/
    background-color: wheat;
    background-position: 0px 0px;
    animation-name: mlg;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-attachment: fixed;
}

/*main body style block*/

main {
    max-width: 1000px;
    height: auto;
    overflow: visible;
    background: rgba(250, 250, 250, 0.9);
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.content {
    padding: 20px;
    font-size: 20px;
}

.credits {
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
}

/*header style block*/

#nav-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.headerLinks {
    font-size: 22px;
    text-decoration: none;
    color: darkorange;
    background-color: gray;
    border-radius: 7px;
    padding: 5px 10px;
}

#headerAuthForm {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

#mainAuthForm {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.authButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    gap: 20px;
}

#orText {
    color: gray;
    font-size: 17px;
}

#PageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
}

.headerLogo {
    align-items: center;
}

.headerInput {
    border: none;
    color: orangered;
    background-color: lightgray;
    border-radius: 4px;
}

.headerInput::placeholder {
    color: black;
    font-size: 17px;
}

header {
    background: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: #333;
}

form {
    display: block;
}

.register-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none !important;
    border-radius: 4px;
    font-size: 17px;
}

.login-btn {
    border: none;
    padding: 5px 10px;
    background-color: darkorange;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
}
